# Python virtualenvs
.venv/
.virtualenv/
.python-version

# Python bytecode
**/__pycache__/
**/*.py[cod]

# Config files
**/*.conf
docker-compose.yml

# VS Code config
.vscode/

# macOS stuff
**/.DS_Store
