version: '3.8'
services:
  database:
    container_name: dionysus-db
    image: postgres:alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=dionysus
    user: postgres
    volumes:
      - dionysus_db:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD', 'pg_isready']
      interval: 1s
      timeout: 1s
      retries: 3
      start_period: 1s
    restart: always
  backend:
    container_name: dionysus
    image: jareddantis/dionysus:latest
    depends_on:
      database:
        condition: service_healthy
    ports:
      - '5000:5000'
    volumes:
      - /PATH/TO/dionysus.conf:/opt/app/dionysus.conf
volumes:
  dionysus_db:
